*{
	margin: 0;
	padding: 0;
}

#website_header {
	height: 100px;
	margin-top: 0px;
  background-color: #b6e89e;
	text-align: left;
	color: red;
	font-size: 40px;
	font-family: Georgia pro Black;
	padding: 15px;


}



	
	ul {padding-top: 0px;
		float: right;
		margin-right: 5%;
		margin: top: 0px;
		text-decoration: none;
		display: flex;

	}

	 
	li {
		padding-top: 0px;
		
		padding-right: 20px;
		font-size: 20px;
		display: inline-block;
		text-transform: uppercase;
		text-decoration:
		 none;

		}

#text1{
	 font-size: 30px;
	background-color:#ffeaa7;
	height: 1400px;
	padding: left;
	font-family: normal;

}
#text2{
	height: 2600px;
	font-size: 25px;
	font color: red;
	background-color:#ffeaa7;
}

#footer{
	border: solid 2px white;
	background-color:#b6e89e;
	height: 200px;
	width: 1300px;
	padding: 5px;
	font-size: 20px;
	font color: #0652DD;
	font-family: Arial Black;
	text-align:center
	

	}



